body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    text-align: center;
    background-color: rgb(124, 255, 152);
    border-radius: 1em;
    padding: 20px;
    border: solid;
    margin: .5em;
    margin-bottom: 1.5em;
}

li{
    margin: 1.5em;
    transition: color .2s, transform .2s;
}


li:hover, li a:hover{
    color: rgb(255, 109, 37);
    transform: translate(0px, -0.25em)
}