body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    text-align: center;
    background-color: rgb(255, 124, 124);
    border-radius: 1em;
    padding: 20px;
    border: 5px dashed;
    margin: .5em;
}

img{
    display: block;
    width: 50%;
    margin: .5em auto 2em;
    border-radius: 1em;
    box-shadow: 10px 5px 5px grey;
}

h2{
    color:rgb(15, 102, 164)
}

section{
    margin: 3em;
    margin-bottom: 3em;
}